:root {
    --primary-color: #FFD700; /* Золотистый */
    --secondary-color: #FFA500; /* Оранжевый */
    --accent-color: #87CEEB; /* Светло-голубой */
    --text-color: #333;
    --product-bg-color: #E0E0E0; /* Новый цвет для блоков */
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('/public/img/background/background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: #FFD700;
    padding: 10px 20px;
    overflow-x: auto;
}

.logo a {
    font-size: 24px;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
}

.nav-links {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    width: 100%;
}

.nav-links li {
    position: relative;
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 700;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 8px;
    padding: 20px;
    width: 600px;
    left: 0;
    right: 0;
    margin: auto;
}

.dropdown-content .column {
    float: left;
    width: 50%;
    padding: 10px;
}

.dropdown-content h3 {
    margin-top: 0;
}

.dropdown-content ul {
    list-style: none;
    padding: 0;
}

.dropdown-content li {
    margin: 5px 0;
}

.dropdown-content li a {
    color: #333;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hero {
    background-color: #FFA500;
    color: white;
    padding: 5px 10px;
    text-align: center;
}

.footer-content {
    background-color: var(--primary-color);
   
    bottom: 0;
    width: 100%;
     /* или любой другой цвет, который вы предпочитаете */
    padding: 10px 0;
    text-align: center;

}

.container {
    max-width: 1200px; /* Фиксироанная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    padding: 20px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    flex: 1 1 calc(33.333% - 40px); /* Три блока в ряд */
    max-width: 400px;
    box-sizing: border-box;
    text-align: center;
    background-color: var(--product-bg-color);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.product-item.kurtki {
    margin-top: -10px; /* Поднимите изображение вверх */
}

@media (max-width: 1024px) {
    .container {
        padding: 10px;
    }

    .navbar {
        padding: 5px 10px;
    }

    .product-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        align-items: center;
    }

    .nav-links {
        flex-direction: row;
        width: auto;
    }

    .product-item {
        flex: 1 1 calc(100% - 20px);
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 5px;
    }

    .product-item {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    .hero {
        padding: 10px;
    }

    .footer-content {
        padding: 5px 0;
    }
}

.product-item img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    padding: 0;
}

.product-item h3 {
    margin: 10px 0 5px;
    color: var(--text-color);
}

.product-item + .product-item {
    margin-top: 20px;
}

.product-section {
    margin-top: 40px;
    padding: 0 20px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1000;
}

.sidebar-links {
    list-style: none;
    padding: 0;
}

.sidebar-links li {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidebar-links li a {
    color: #818181;
    text-decoration: none;
}

.sidebar-links li:hover {
    color: #f1f1f1;
}

.burger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    z-index: 1001;
}

.burger div {
    width: 30px;
    height: 3px;
    background-color: #333;
    border-radius: 5px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
}

@media (max-width: 768px) {
    .burger {
        display: flex;
    }

    .nav-links {
        display: none;
    }
}
